/*reset*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}

body {
  background-color: #c67f08;
  font-family: arial, sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.25em;
}

container {
  text-align: center;
  margin: 150px auto 250px 300px;
}

.body {
  background-color: #c67f08;
  font-family: arial, sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 100px auto 250px 300px;
}

.instructions {
  color: #fff;
  background-color: #c67f08;
  font-family: arial, sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 100px auto 250px 300px;
}

.links {
  background-color: #c67f08;
  font-family: arial, sans-serif;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 100px auto 250px 300px;
}

p {
  color: #fff;
  margin: 15px auto 25px auto;
}

h3 {
  color: #ede832;
  font-family: "reflex-pro-variable", sans-serif;  
  font-variation-settings: 'wdth' 150, 'wght' 400, 'ital' 9;
  font-size: 2em;
  letter-spacing: .25em;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
  margin: 25px auto 25px auto;
}

a, a:visited {
  color: #ede832;
  text-decoration: none;
}

a:hover, a:active {
  color: #ede832;
  text-decoration: none;
}

button {
  font-family: "reflex-pro-variable", sans-serif;
  font-variation-settings: "ital" 9, "wght" 400, "wdth" 150;
  display: inline-block;
  padding: .5em .75em;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d7a014;
  border: none;
  border-radius: 5px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #d7a014
}

button:active {
  background-color: #d7a014;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(4px);
}

td {
  border-bottom:  0px;
  }
